@tailwind base;
@tailwind components;
@tailwind utilities;


.os-theme {
    --os-size: 33px;
    --os-padding-perpendicular: 4px;
    --os-padding-axis: 0;
    --os-track-border-radius: 0;
    --os-track-bg: rgba(0, 255, 0, 0.418);
    --os-track-bg-hover: none;
    --os-track-bg-active: none;
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;
    --os-handle-border-radius: 30px;
    --os-handle-bg: rgb(136, 16, 136);
    --os-handle-bg-hover: none;
    --os-handle-bg-active: none;
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 33px;
    --os-handle-max-size: 120px;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
}